.header{
	flex-direction: column;
	align-items: space-between;
}

.nav-list{
  flex-direction: column;
  gap: 10px;
}

#topbar{
  overflow: hidden;
	height: 0;
	transition: height 0.4s ease-in-out;
}

#topbar.active{
	height: auto;
	padding: 10px 0;
}
