*{
	margin: 0;
	padding: 0;
}

/* header */
.header{
	position: sticky;
	background-color: #000;
}

h2{
  padding-left: 7px;
}

.nav-list{
	list-style: none;
}

.nav-link{
	text-decoration: none;
	color: #fff;
}

/*Flexbox*/
.d-flex{
  display: flex;
}

.row{
  display: flex;
  flex-direction: column;
}

.gap-1{
  gap: 10px;
}

.justify-between{
	justify-content: space-between;
}

.item-center{
  align-items: center;
}

/*margin*/
.mx-1{
  margin: 0 10px;
}

/* padding */
.pxy-1{
  padding: 5px 10px;
}

.px-1{
  padding: 0 4vw;
}

.py-1{
  padding: 1vh 0;
}

.px-1-5{
  padding: 0 6vw;
}

/* Button */
.but{
  border: none;
  padding: 5px 10px;
}

.but-nav{
  background-color: transparent;
  font-size: 24px;
  transition: color .3s ease-in-out;
}

.but-nav:active{
	border-radius: 5px;
	border: 2px solid #fff;
}

/* foreground & background color */
.color-white{
	color: #fff;
}

.bg-black{
  background-color: #000;
  color: #fff;
}

/*Form*/
.form{
  width: 80%;
  padding: 6vh 5vw;
}

/*input & textarea*/
input, textarea{
  outline-color: #3936aac9;
  outline-width: 2px;
}