*{
	margin: 0;
	padding: 0;
}

.nav-list{
	list-style: none;
}

.nav-link{
	text-decoration: none;
	color: #fff;
}

.d-flex{
  display: flex;
}

.mx-1{
  margin: 0 10px;
}

.item-center{
  align-items: center;
}

.butt{
  padding: 5px 10px;
  display: inline-block;
}